
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <a class="navbar-brand" href="#"><img src="assets/toor-logo.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
            <div class="col-md-9">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto  mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link  pb-4 toghov" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              HOME
                              <i class="fa-solid fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu bgdrop" >
                              <li><a class="dropdown-item" href="#">Home v1</a></li>
                              <li><a class="dropdown-item" href="#">Home v2</a></li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link  pb-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              HOTELS
                              <i class="fa-solid fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu bgdrop" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item firsta" href="#">Hotels Grid
                                <i class="fa-solid fa-angle-right float-end"></i>
                              </a>
                                <span class="cat">
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Full Width</a></li>
                                        <li><a class="dropdown-item" href="#">Left Sidebar</a></li>
                                        <li><a class="dropdown-item" href="#">Right Sidbar</a></li>
                                    </ul>
                                </span>
                            </li>
                              <li><a class="dropdown-item" href="#">Hotels Details</a></li>
                            </ul>
                          </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link  pb-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          FLIGHTS
                          <i class="fa-solid fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu bgdrop" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Flights Grid
                            <i class="fa-solid fa-angle-right float-end"></i>
                          </a>
                            <span class="cat">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Full Width</a></li>
                                    <li><a class="dropdown-item" href="#">Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="#">Right Sidbar</a></li>
                                </ul>
                            </span>

                        </li>
                          <li><a class="dropdown-item" href="#">Flights Details</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link  pb-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          CRUISE
                          <i class="fa-solid fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu bgdrop" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Cruise Grid
                            <i class="fa-solid fa-angle-right float-end"></i>
                          </a>
                        
                            <span class="cat">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Full Width</a></li>
                                    <li><a class="dropdown-item" href="#">Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="#">Right Sidbar</a></li>
                                </ul>
                            </span>
                        </li>
                          <li><a class="dropdown-item" href="#">Cruise Details</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link  pb-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          CARS
                          <i class="fa-solid fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu bgdrop" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Cars Grid
                            <i class="fa-solid fa-angle-right float-end"></i>
                          </a>
                        
                            <span class="cat">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Full Width</a></li>
                                    <li><a class="dropdown-item" href="#">Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="#">Right Sidbar</a></li>
                                </ul>
                            </span>
                        </li>
                          <li><a class="dropdown-item" href="#">Cars Details</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link  pb-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          BLOG
                          <i class="fa-solid fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu bgdrop" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Blog Grid
                            <i class="fa-solid fa-angle-right float-end"></i>
                          </a>
                        
                            <span class="cat">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Full Width</a></li>
                                    <li><a class="dropdown-item" href="#">Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="#">Right Sidbar</a></li>
                                </ul>
                            </span>
                        </li>
                          <li><a class="dropdown-item" href="#">Blog Details
                            <i class="fa-solid fa-angle-right float-end"></i>
                          </a>
                        
                            <span class="drop2">
                                <ul>
                                    <li><a class="dropdown-item" href="#">Full Width</a></li>
                                    <li><a class="dropdown-item" href="#">Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="#">Right Sidbar</a></li>
                                </ul>
                            </span>
                        </li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link  pb-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          PAGES
                          <i class="fa-solid fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu bgdrop" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">About Us</a></li>
                          <li><a class="dropdown-item" href="#">FAQ'S</a></li>
                          <li><a class="dropdown-item" href="#">Booking</a></li>
                          <li><a class="dropdown-item" href="#">Gallery</a></li>
                          <li><a class="dropdown-item" href="#">Error 404</a></li>
                          <li><a class="dropdown-item" href="#">Coming Soon</a></li>
                        </ul>
                      </li>
                    </ul>
                    
                  </div>
            </div>
            <div class="col-md-3  ">
                <div class="btlogo ">
                    <a class="nav-link " href="#">ENQUIRY NOW</a>
                    <span class="btlogohov"><a class="nav-link  " href="#">ENQUIRY NOW</a></span>
                </div>
            </div>
        </div>
          
      </div>
    </div>
  </nav>

  
 