





<!--  using library carousel -->

<section class="hotel mb-5">
    <div class="container"> 
        <div class="hotel-content pb-5">

            <div class="row">
                <div class="col-6">
                    <h3>Recommended Hotels</h3>
                    <p><i class="fa-solid fa-plane"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text</p>
                        
                </div>
                <div class="col-6 ctr-carsol" >
                    
                </div>
            </div>

            
            <div>
                
            <owl-carousel-o [options]="customOptions">
                
                <ng-template carouselSlide *ngFor="let s of hotels">
                    
                    <div class="px-2 " >
                        <div class="bc-img">
                            <div class="trying">
                                 <img class="slide " src="http://satafood.codesroots.com:3000/{{s.cover}}" />
                            </div>
                            <span class="img-layer"><i class="fa-solid fa-eye"></i></span>
                        </div>
                        <div class="img-content">
                            <div class="row">
                                <div class="col-md-8">
                                    
                                        <a class="hotel-name">{{s.name}}</a>
                                        <br>
                                        <small>PARIS FRANCE</small>
                                    
                                </div>
                                <div class="col-md-4">
                                    <small>AVG/NIGHT</small>
                                    <p>$220</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="btn-view">
                                        <a class="btn " href="">View</a>
                                     </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <div class="btn-book mx-4 ">
                                            <a class="btn " href="">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </ng-template> 
      </owl-carousel-o>
            
            
            </div>

        </div>
    </div>
</section>
