
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!--first-->
      <div class="carousel-item active bcimg1">
        
        <div class="layer">
            
        </div>
        <div class="layer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-content">
                            <h1>Finest Luxury <span class="wordcol">Hotels</span> in Moritz !</h1>
                            <ul class="list-unstyled">
                                <li><i class="fa-building fas"></i>Over 1000 Hotels</li>
                                <li><i class="fa-map-marker-alt fas"></i>More than 500,000 Places</li>
                                <li><i class="fa-dollar-sign fas"></i>Best Price Hotels</li>
                                <li><i class="fa-comments fas"></i>Customer Car 24 hours</li>
                            </ul>
                            <a class="nav-link btnslid " href="#">LEARN MORE
                                <span class="btnslidhov"><a class="text-delay">LEARN MORE</a></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--second-->

      <div class="carousel-item bcimg2">
        
        <div class="layer"></div>
        <div class="layer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-content">
                            <h1>Let's Discover the <span class="wordcol">World</span> together !</h1>
                            <ul class="list-unstyled">
                                <li><i class="fa-plane fas"></i>  Over 500 Airlines  </li>
                                <li><i class="fa-map-marker-alt fas"></i> More than 13,000 places </li>
                                <li><i class="fa-dollar-sign fas"></i> Best Price Guarantee </li>
                                <li><i class="fa-comments fas"></i> Customer Care </li>
                            </ul>
                            <a class="nav-link btnslid " href="#">LEARN MORE
                                <span class="btnslidhov"><a class="text-delay">LEARN MORE</a></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

       <!--third-->
      <div class="carousel-item bcimg3">
        
        <div class="layer"></div>
        <div class="layer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-content">
                            <h1>Upto 25% off on first booking <span class="wordcol">Car</span> through your app </h1>
                            <ul class="list-unstyled">
                                <li><i class="fa-dollar-sign fas"></i> Best Price Guaranteed </li>
                                <li><i class="fa-car fas"></i> Home Pickups </li>
                                <li><i class="fa-laptop fas"></i> Easy Bookings </li>
                                <li><i class="fa-headphones-alt fas"></i> 24/7 Customer Care </li>
                            </ul>
                            <a class="nav-link btnslid " href="#">LEARN MORE
                                <span class="btnslidhov"><a class="text-delay">LEARN MORE</a></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev btn-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


 