
.bcimg1{
    background-image: url(../../assets/hotel-1.jpg);
    width: 100%;
    background-size: 100%;
    height: 800px;
}

.bcimg2{
    background-image: url(../../assets/flight-2.jpg);
    width: 100%;
    background-size: 100%;
    height: 800px;
}
.bcimg3{
    background-image: url(../../assets/car-1.jpg);
    width: 100%;
    background-size: 100%;
    height: 800px;
}

.layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#212529 ;
    opacity: .5;
}
.layer2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 12;
    
}

.slider-content{
    padding-top: 70px;
    a{
        color: #fff;
    }
}

.slider-content h1{
    font-size: 60px;
    opacity: 1;
    padding-top: 100px;
    padding-right: 150px;
    color: #fff;
}
 
.slider-content ul li{
    color: #fff;
    font-size: 22px;
    margin-right: 15px;
    padding-top: 20px;
    
    i{
        padding: 10px;
        color: #01b7f2;
    }    
}

.btnslid{
    border: 1px solid #2d3e52;
    width: 25%;
    background-color: #2d3e52;
    border-radius: 50px;
    border: 1px solid #01b7f2;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    margin-top: 5px; 
    padding:15px 20px;
    a{
        color: #01b7f2;
    }
}



.btnslidhov{
    background-color: #01b7f2;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #01b7f2;
    border-radius: 50px;
    width: 0%;
    height: 100%;
    opacity: 0;
    display: flex; 
    justify-content: center;
    text-align: center;
    overflow: hidden;
    a{
        margin-bottom: 20%;
    }
    
    
}


.btnslid:hover .btnslidhov{
    
    opacity: 1;
    border-radius: 50px;
    width: 100%;
    display: flex; 
    justify-content: center;
    text-align: center;
    transition-property: width;
    transition-duration: 1s;
    
    a{
        text-align: center;
        color: #fff;
        position: absolute;
        top: 25%;
        display: flex;
        padding: 0;
        text-decoration: none;
        transition-delay: .8s;
    }
    
    
}


span a{
    text-align: center;
    box-sizing: border-box;
    
    padding:15px 20px;
}
.wordcol{
    color: #01b7f2;
}

.btn-next{
    
    cursor: pointer;
    position: absolute;
    right: -5%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 12345;
    
}
.btn-next:hover{
    background-color: #01b7f2;
}
.btn-prev{
    cursor: pointer;
    position: absolute;
    left: -5%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 12345;
    
   
}
.btn-prev:hover{
    background-color: #01b7f2;
}

.slide:hover .btn-prev{
    
    animation-name: moveRight;
  animation-duration: .4s;  
  animation-fill-mode: forwards;
}
.slide:hover .btn-next{
    
    animation-name: moveLeft;
  animation-duration: .4s;  
  animation-fill-mode: forwards;
}


@keyframes moveRight {
    from {left: -3%;}
    to {left: 2%; }
  }
  @keyframes moveLeft {
    from {right: -3%;}
    to {right: 2%; }
  }