
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ">

        <!--first-->
      <div class="carousel-item active bcimg1" >
        
        <div class="layer">
            <img src="http://satafood.codesroots.com:3000/uploads/cuisines/img-1648952116040-771975391.jpg" alt="">
        </div>
        <div class="layer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-content">
                            <h1>Finest Luxury <span class="wordcol">Hotels</span> in Moritz !</h1>
                            <ul class="list-unstyled">
                                <li><i class="fa-building fas"></i>Over 1000 Hotels</li>
                                <li><i class="fa-map-marker-alt fas"></i>More than 500,000 Places</li>
                                <li><i class="fa-dollar-sign fas"></i>Best Price Hotels</li>
                                <li><i class="fa-comments fas"></i>Customer Car 24 hours</li>
                            </ul>
                            <a class="nav-link btnslid " href="#">LEARN MORE
                                <span class="btnslidhov"><a class="text-delay">LEARN MORE</a></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--second-->

      <div class="carousel-item bcimg2 " *ngFor="let c of sliders">
        
        <div class="layer">
            <img src="http://satafood.codesroots.com:3000/{{c.photo}}" alt="">
        </div>
        <div class="layer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-content">
                            <h1>Finest Luxury <span class="wordcol">Hotels</span> in Moritz !</h1>
                            <ul class="list-unstyled">
                                <li><i class="fa-building fas"></i>Over 1000 Hotels</li>
                                <li><i class="fa-map-marker-alt fas"></i>More than 500,000 Places</li>
                                <li><i class="fa-dollar-sign fas"></i>Best Price Hotels</li>
                                <li><i class="fa-comments fas"></i>Customer Car 24 hours</li>
                            </ul>
                            <a class="nav-link btnslid " href="#">LEARN MORE
                                <span class="btnslidhov"><a class="text-delay">LEARN MORE</a></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

       
       </div>
    <button class="carousel-control-prev btn-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>